// portfolio styles
.portfolio {
  overflow-x: clip;
  position: relative;

  .portfolio__text-slider {
    margin-bottom: 80px;

    .slick-slide {
      margin: 0px 15px;

      h2 {
        margin-top: -14px;
        margin-bottom: -14px;

        a {
          font-weight: 900;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          gap: 30px;

          i {
            color: var(--primary-color);
          }
        }
      }
    }

    .slick-slide:nth-child(even) {
      h2 {
        a {
          font-family: sans-serif;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 2px var(--white);
          color: transparent;

          i {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px var(--primary-color);
          }

          &:hover {
            -webkit-text-stroke-color: var(--primary-color);
          }
        }
      }
    }

  }

  .portfolio__single {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 0px;
      height: 0px;
      transition: var(--transition);
      background-color: var(--primary-color);
    }
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 20px;
      height: 0px;
      width: 0px;
      transition: var(--transition);

      background-color: var(--primary-color);
    }
    a {
      width: 100%;
    }
    img {
      width: 100%;
      min-height: 300px;
    }

    .portfolio__single-content {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 40px;
      background-color: var(--white);
      text-align: end;
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translateY(-160%) scale(1.4);
      transition: var(--transition);
      max-width: 90%;

      a {
        width: auto;
        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }
      h4 {
        a {
          color: var(--black);
          font-weight: 600;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    &:hover {
      &::before {
        width: 1px;
        height: calc(100% - 40px);
      }
      &::after {
        height: 1px;
        width: calc(100% - 40px);
      }
      .portfolio__single-content {
        transform: translateY(0px) scale(1);
      }
    }
  }

  .portfolio__single-active {
    &::before {
      width: 1px;
      height: calc(100% - 40px);
    }
    &::after {
      height: 1px;
      width: calc(100% - 40px);
    }
    .portfolio__single-content {
      transform: translateY(0px) scale(1);
    }
  }

  .portfolio__single-alt-wrapper {
    background-color: black;
    padding: 20px;
    border: 1px solid var(--primary-color);
    height: 100%;
  }

  .portfolio__single-alt {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1;
    min-height: 300px;
    h4 {
      text-transform: uppercase;
    }
    .arr {
      position: absolute;
      bottom: 60px;
      left: 60px;
      font-size: 120px;
      font-weight: 900;
      color: var(--primary-color);
    }

    img {
      max-width: 25%;
    }

    .dot-one {
      position: absolute;
      top: 40px;
      left: 40px;
      z-index: -1;
    }
    .dot-two {
      position: absolute;
      bottom: 40px;
      right: 40px;
      z-index: -1;
    }
  }
}

// 5.04 poftfolio two styles
.portfolio-two {
  .portfolio__text-slider {
    margin-bottom: 80px;
  }
  .portfolio__text-slider-single {
    h2 {
      margin-top: -20px;
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 0px;
      i {
        color: var(--primary-color);
      }
    }
    &:nth-of-type(even) {
      h2 {
        font-family: sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px var(--white);
        i {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 2px var(--primary-color);
        }
      }
    }
  }

  .portfolio-two__filter-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 24px;
    justify-content: space-between;
    button {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-transform: uppercase;

      span {
        color: #474747;
        transition: var(--transition);
      }
      &:hover {
        color: var(--primary-color);
        span {
          color: var(--white);
        }
      }
    }

    .active {
      color: var(--primary-color);
      span {
        color: var(--white);
      }
    }
  }
}

.filter-item-space {
  margin-bottom: 30px;
}

// 5.05 masonry filter styles
.masonry-grid {
  margin-bottom: -30px;
}

// 5.06 portfolio three styles
.portfolio-three {
  position: relative;
  z-index: 1;
  .slick-track {
    display: flex;
  }
  .portfolio__single {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    flex: 1;
    &::before,
    &::after {
      content: none;
    }
    a {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      min-height: 360px;
    }

    .portfolio__single-content {
      position: absolute;
      bottom: 0px;
      top: unset;
      right: unset;
      left: 0px;
      padding: 40px;
      background-color: var(--white);
      text-align: end;
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translateY(160%) scale(1.4);
      transition: var(--transition);
      max-width: 90%;

      a {
        width: auto;
        i {
          font-size: 56px;
          color: var(--primary-color);
        }
      }
      h4 {
        a {
          color: var(--black);
          font-weight: 600;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    &:hover {
      .portfolio__single-content {
        transform: translateY(160%) scale(1.4);
      }
    }
  }

  .slick-center {
    .portfolio__single-content {
      transform: translateY(0px) scale(1);
    }

    &:hover {
      .portfolio__single-content {
        transform: translateY(0px) scale(1);
      }
    }
  }

  .slide-group {
    position: absolute;
    padding: 0px 20px;
    top: 70%;
    left: 0%;
    right: 0%;
    transform: translateY(-70%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    z-index: 2;
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
}