@mixin box($size) {
  width: $size;
  min-width: $size;
  height: $size;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// cta styles
.cta-s {
  .cta__wrapper {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 20px;
    background-color: #101010;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .footer__single-form {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    .input-email {
      border-radius: 100px;
      border: 1px solid #c1c1c1;

      input {
        padding: 24px 30px;
        width: calc(100% - 100px);
      }

      button {
        width: 100px;
        min-width: 100px;
      }
    }
  }

  .star,
  .star-two {
    position: absolute;
    z-index: -1;
    opacity: 0.25;
  }

  .star {
    left: 40px;
    top: 20%;
    max-width: 10vw;
  }

  .star-two {
    right: 60px;
    bottom: 10%;
    max-width: 10vw;
  }
}

// 5.21 cta two styles
.cta-two {
  .cta-two-wrapper {
    max-width: 1350px;
    padding: 80px 65px;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    border-radius: 20px;
  }

  span {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 20px;
    border-top-left-radius: 0px;
    display: inline-block;
  }

  h2,
  h5 {
    text-transform: capitalize;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .btn {
    background-color: transparent;
    border: 1px solid var(--primary-color) !important;
  }
}